:root {
  --main-color: white;
  --secondary-color: #333333;
  --main-text-color: white;
  --button-hover-color: #cc5f00;
  --header-name-color: #cc5f00;
  --section-bg-color: #f9f9fb;
  --card-bg-color: white;
  --card-shadow-color: #cc5f00;
  --card-border-color: #e0e0e0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  color: var(--secondary-color);
  background-color: var(--main-color);
}

header {
  background: var(--secondary-color);
  color: var(--header-name-color);
  padding: 10px;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-name {
  margin: 0;
}

.navbar-list {
  padding: 0 30px 0 40px;
}

.navbar-item {
  display: inline;
  margin: 25px;
}

.navbar-item a {
  color: var(--main-text-color);
  padding: 4px 6px;
  border-radius: 15px;
  text-decoration: none;
  transition: background 0.3s;
}

.navbar-item a:hover {
  background: var(--button-hover-color);
}

.portfolio-section {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background: var(--section-bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.resume-container {
  padding: 40px;
  background: var(--section-bg-color);
  box-shadow: 0 0 4px var(--card-shadow-color);
  border-radius: 8px;
}

.resume-title {
  text-align: center;
}

.resume-title h1 {
  margin: 0;
  font-size: 2.5em;
}

.resume-title a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.resume-title a:hover {
  color: var(--header-name-color);
}

.resume-section {
  margin-bottom: 20px;
}

.resume-section h2 {
  border-bottom: 2px solid var(--secondary-color);
  margin-bottom: 10px;
}

.resume-section-body p {
  margin: 2px;
}

.resume-right-header {
  float: right;
}

.resume-list {
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
}

.resume-list li {
  padding-left: 1em;
  text-indent: -1em;
}

.resume-list li:before {
  content: "•";
  color: var(--secondary-color);
  padding-right: 0.5em;
}

.skill-sub-subsection-title {
  text-decoration: underline;
}

.projects-container {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-card {
  background: var(--card-bg-color);
  border: 1px solid var(--card-border-color);
  border-radius: 8px;
  box-shadow: 0 0 4px var(--card-shadow-color);
  padding: 20px;
  width: 48%;
  box-sizing: border-box;
  position: relative;
}
.image-collage-yatzy {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 50px;
}

.image-collage-yatzy img {
  width: 30vh;
  height: 15vh;
  border-radius: 15px;
  margin-bottom: 15px;
}

.image-collage-mealer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.image-collage-mealer img {
  width: 39%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 15px;
}

.project-card h3 {
  margin-top: 10px;
}

.project-card a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.project-card a:hover {
  color: var(--header-name-color);
}

.project-card p {
  color: var(--secondary-color);
}

.project-card ul {
  padding-left: 20px;
}

.project-card li {
  margin-bottom: 10px;
}

.project-text {
  color: var(--card-shadow-color);
}

.contact-items a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.contact-items a:hover {
  color: var(--header-name-color);
}
